.cart_item_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

.cart_item {
  border-bottom: 1px solid #d3d3d3;
}

.cart_item td {
  border: none !important;
}

.cart_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart_disc {
  padding: 5px;
  height: 100%;
}

.cart_disc > * {
  display: block;
}

.cart_disc b {
  max-height: 45px;
  overflow: hidden;
}

.confirmation {
  background-color: var(--white);
  box-shadow: 0 0 0 0.15rem #0000001a;
  padding: 12px;
  text-align: center;
  width: 800px;
  height: max-content;
}

.confirmation_heading {
  padding: 38px 5px 10px;
  border-bottom: 1px solid var(--grey);
}

.confirmation_heading svg {
  margin: 10px;
  color: var(--success);
}

.confirmation_heading h6 {
  margin: 18px 5px 10px;
  font-size: 20px;
}

.confirmation_heading p {
  font-style: italic;
}

.confirmation_body {
  text-align: left;
  padding: 20px;
}

.confirmation_body h5 {
  margin: 18px 0px;
}

.confirmation_body p {
  margin: 0px;
  color: var(--black);
}

.row {
  display: flex;
  flex-direction: row;
}

.row div {
  width: 50%;
  padding-right: 15px;
}

.confirmation_pay {
  margin: 25px 0px;
}

.confirmation_pay div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px dashed #ddd;
  font-weight: 500;
  margin-bottom: 14px;
}

/*  =======Print csss ============*/
.invoiceBox {
  max-width: 800px;
  margin: auto;
  padding: 30px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}

.invoiceBox table {
  width: 100%;
  line-height: inherit;
  text-align: left;
}

.invoiceBox table td {
  padding: 5px;
  vertical-align: top;
}

.invoiceBox table tr td:nth-child(2) {
  text-align: right;
}

.invoiceBox table tr.top table td {
  padding-bottom: 20px;
}

.invoiceBox table tr.top table td.title {
  font-size: 45px;
  line-height: 45px;
  color: #333;
}

.invoiceBox table tr.information table td {
  padding-bottom: 40px;
  border-top: 1px solid #000;
}

.invoiceBox table tr.heading td {
  background: #eee;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.invoiceBox table tr.details td {
  padding-bottom: 20px;
}

.invoiceBox table tr.item td {
  border-bottom: 1px solid #eee;
}

.invoiceBox table tr.item.last td {
  border-bottom: none;
}

.invoiceBox table tr.total td:nth-child(2) {
  border-top: 2px solid #eee;
  font-weight: bold;
}
.heading {
  font-weight: 600;
  font-size: 14px;
  text-transform: capitalize;
}
.heading2 {
  font-weight: 700;
  font-size: 14px;
  color: #000;
}
.address{
  font-size: 14px;
}
.headTax{
  text-align: center;
  color: #000;
  padding-left: 17rem;
  margin-left: 1.3rem;
 
}